<!DOCTYPE html>
		<html>
		<head>
			<title>GATEWATCH</title>
			<link rel="stylesheet" type="text/css" href="style.css">
		</head>
		<body>
		<div id="Header">
			<div id="logo"> <img src="img/logo.png">Oath of the Gatewatch </div>
			<div id="menu">
				<ul>
					<li><a href="home.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div id="Hero"><img src="img/hero2.jpg"></div>
		<div id="Featured">
			<div class="featured-img uno"><img src="img/oath of nissa.jpg"></div>
			<div class="featured-img dos"><img src="img/oath of jace.jpg"></div>
			<div class="featured-img tres"><img src="img/oath of gideon.jpg"></div>
			<div class="featured-img quatro"><img src="img/oath of chandra.jpg"></div>
		</div>
		<div id="Footer">
			<div id="address"> Current Location: Unknown</div>
			<div id="copyright">&copy; 2018</div>
		</div>
		</body>
		</html>