<!DOCTYPE html>
		<html>
		<head>
			<title>PICKLE RICK!</title>
			<link rel="stylesheet" type="text/css" href="style.css">
		</head>
		<body>
			<div id="header">
				<div id="logo"> <img src="img/logo.jpg"></div>
				<div id="menu">
				<ul>
					<li><a href="home.html">I'M</a></li>
					<li><a href="about.html">PICKLE</a></li>
					<li><a href="contact.html">RICK!</a></li>
				</ul>
				</div>
		<div class="wrapper">
			<div id="picture"> <img src="img/pickle.jpg"></div>
			<div id="text"><p>Is he keeping his shoulders square? Oooooooh he's tryin'! Aww, gee, you got me there, Rick. Oh, that's Million Ants. I can't see the ants from over here, I just assumed that was um.. Turd Man, Wiggly Turd Man. Let’s be post-apocalyptic scavengerrrrsss! Temporary superintelligence is just a side effect of the Megaseeds dissolving in your rectal cavity. You're not gonna believe this, because it usually never happens, but I made a mistake. Morty, I'm a drunk, not a hack. I do not have discolored butthole flaps. You don't know me! Ohh, fuck! Are you invisible and you're gonna, like, fart on me?</p></div>
		</div>

		</body>
		</html>