<!DOCTYPE html>
		<html>
		<head>
			<title>PICKLE RICK!</title>
			<link rel="stylesheet" type="text/css" href="style.css">
		</head>
		<body>
			<div id="header">
				<div id="logo"> <img src="img/logo.png">I TURNED MYSELF INTO A PICKLE MORTY</div>
				<ul>
					<li><a href="home.html">I'M</a></li>
					<li><a href="about.html">PICKLE</a></li>
					<li><a href="contact.html">RICK!</a></li>
				</ul>
		<div class="wrapper">
			<div id="picture"> <img src="img/pickle.jpg"></div>
			<p>Is he keeping his shoulders square? Oooooooh he's tryin'! Aww, gee, you got me there, Rick. Oh, that's Million Ants. I can't see the ants from over here, I just assumed that was um.. Turd Man, Wiggly Turd Man. Let’s be post-apocalyptic scavengerrrrsss!</p>
		</div>
		</body>
		</html>