<!DOCTYPE html>
		<html>
		<head>
			<title></title>
			<link rel="stylesheet" type="text/css" href="style.css">
		</head>
		<body>
		<div id="Header">
			<div id="logo"> <img src="img/logo.png">Hungry Bites </div>
			<div id="menu">
				<ul>
					<li><a href="home.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div id="Hero"><img src="img/hero.jpg"></div>
		<div id="Featured">
			<div class="featured-img first"><img src="img/hero.jpg"></div>
			<div class="featured-img last"><img src="img/hero.jpg"></div>
		</div>
		<div id="Footer">
			<div id="address"> Calle Uno Food Hub</div>
			<div id="copyright">&copy; 2018</div>
		</div>
		</body>
		</html>